@import '../../node_modules/vuetify/src/stylus/main'

 $body-font-family = 'Fira Sans'  
  
.application.theme--light
  background-color #eff0f4!important
.application
  font-family Fira+Sans,sans-serif!important
.overlay:before
  background-color transparent!important
  background: radial-gradient(ellipse at center, rgba(109,129,199,0.3) 0%,rgba(19,11,48,0.7) 100%);
.list__tile__action
  min-width 40px!important
.mt-56
  margin-top 56px!important