@import '../../node_modules/vuetify/src/stylus/main'

$body-font-family = 'Fira Sans'
html
  font-size 16px!important
.application.theme--light
  background-color #eff0f4!important
  box-sizing border-box
.application
  font-family Fira+Sans,sans-serif!important
.overlay:before
  background-color transparent!important
  background radial-gradient(ellipse at center, rgba(109,129,199,0.3) 0%,rgba(19,11,48,1.0) 100%);
.overlay--active:before
  opacity: .80!important

.list__tile__action
  min-width 40px!important
.black08
  background-color rgba(0,0,0,0.3)
.bottom__footer
  font-size 14px!important
  width 100%!important
  color rgba(255,255,255,0.3)!important
  text-align center
  padding 10px 0
  display block
.list__tile
    line-height: 1.2
.noupper
  text-transform unset!important
  font-size 16px!important
.toolbar__content
  font-size 16px!important
.dialog__content
  align-items flex-start!important
  padding 32px 0 0 0
nav h2
  font-size 16px
  text-align center
  color #fff 
  padding 12px 0
.news
  font-size 14px!important
.footer
  font-size 14px!important

input
  caret-color: white!important

main h1
  font-size 30px
  transform scaleX(0.94)
  line-height 1.0
  margin 9px 0 9px 0
main h2
  font-size 27px 
  font-weight 500
  transform scaleX(0.94)
main h3
  font-size 24px 
  font-weight 500
  transform scaleX(0.94)
main h4
  font-size 22px 
  font-weight 500
  transform scaleX(0.94)
main h5
  font-size 20px 
  font-weight 500
  transform scaleX(0.94)
main h6
  font-size 18px 
  font-weight 500
  transform scaleX(0.94)
.toolbar__content .input-group 
  background hsla(0,0%,0%,.2)!important
  color white!important
  width 240px!important
.toolbar__content .input-group--focused
  background hsla(0,0%,100%,.2)!important
input[type = file]
  opacity 0

.noshadow
  box-shadow none!important

.tsn_price
  width 100%
  font-size 90%
  vertical-align middle
  border-collapse collapse
  background hsla(0,100%,100%,1.0)
.tsn_price caption
  font-size 20px 
  font-weight 600
  margin 8px 0
.tsn_price caption span
  white-space nowrap
.tsn_price_from
  font-size 12px 
  font-weight 500
  text-align right
  color hsla(0,0%,50%,1.0)
  background hsla(50,100%,97%,1.0)
  margin 8px 0 0
  padding 0 8px 0 0
  border-top 1px solid #d7d7de
.tsn_price thead
  color white
  background #060084
.tsn_price th, td
  padding 6px
.tsn_price tr:not(:first-child)
  border-top 1px solid #d7d7de
.tb-container
  width: 100%;
  overflow-y: auto;
  _overflow: auto;

@media only screen and (min-width 960px){
    .container{
      max-width 1920px!important
    }
}
@media only screen and (max-width 960px){
    .toolbar__extension{
      display none!important
    }
}
